[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiokafka = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-mock = "*"
pytest-cov = "*"
pylint = "*"
pylama-pylint = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.6"
